<section id="add">
  <form action="/" method="post">
  <br>
    <textarea name="name" placeholder="Your Name&hellip;"></textarea>
    <br>
    <textarea name="nopeople" placeholder="Number Of People Attending&hellip;"></textarea>
    <br>
    <textarea name="phno" placeholder="Your Phone Number&hellip;"></textarea>
    <br>
    <textarea name="email" placeholder="Your Email&hellip;"></textarea>
    <input type="submit" value="Submit RSVP">
  </form>
</section>
 

<% @demo.each do |item| %>
  <article >
    <p>
      <%= item.name %>
      <span><a href="/<%= item.id %>">[edit]</a></span>
    </p>
    <p class="links">
      <a href="/<%= item.id %>/complete">&#8623;</a>
    </p>
    <p class="meta">Created: <%= item.created_at %></p>
  </article>
<% end %>
