<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>RSVPs</title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">RSVP</a></h1>
      <h2>Marriage of Bharat and Ritu</h2>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
  <footer>
    <p><small>An app by <a href="https://github.com/adibalwani03">Aditya Balwani </a>.</small></p>
  </footer>
</body>
</html>
